</body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class="flash_message">{{ messages[0] }}</p>
  {% endif %}
{% endwith %}
              
</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sachin's Portfolio</title>


 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
     <link rel="stylesheet" href="static/css/style.css">
          <link rel="stylesheet" media="screen and (max-width:1040px)" href="static/css/phone.css">

 

</head>
<!--Navbar -->
<nav class="navbar bg-black">
  <div class="container-fluid">
    <span onclick="window.location.href='index.html'" class="navbar-brand ms-5 h1 text-white fs-3">Sachin.</span>
  </div>
</nav>


<!-- Home section -->
<div class="home">

  <div class="textAarea">
    <p class="greating">Hello! I'm</p>
    <p class="heading-name text-white">Sachin Yadav</p>
    <h2 id="typing-text"> <span class="element"></span></h2>
    <p class="home-para">
      Passionate about building responsive, visually engaging, and user-friendly interfaces.<br>Proficient in
      converting UI/UX designs into production-ready code.
    </p>
    <button class="btn btn1 btn-outline-none"><img src="{{ url_for('static', filename='images/github-svgrepo-com.svg') }}" alt="My Photo"><a href="https://github.com/">Git Hub</a></button>
    <button onclick="window.location.href='{{ url_for('download_cv') }}'" class="btn btn2"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 640 640" stroke="white"
        fill="white"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
        <path
          d="M297.4 566.6C309.9 579.1 330.2 579.1 342.7 566.6L502.7 406.6C515.2 394.1 515.2 373.8 502.7 361.3C490.2 348.8 469.9 348.8 457.4 361.3L352 466.7L352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 466.7L182.6 361.3C170.1 348.8 149.8 348.8 137.3 361.3C124.8 373.8 124.8 394.1 137.3 406.6L297.3 566.6z" />
      </svg> Download CV</button>

    <div class="social-circles">

      <span class="media"><a href="www.linkedin.com/in/sachin-yadav-b96552292"><svg xmlns="http://www.w3.org/2000/svg" height="30px" fill="white"
            viewBox="0 0 640 640" stroke="white">
            <path
              d="M196.3 512L103.4 512L103.4 212.9L196.3 212.9L196.3 512zM149.8 172.1C120.1 172.1 96 147.5 96 117.8C96 103.5 101.7 89.9 111.8 79.8C121.9 69.7 135.6 64 149.8 64C164 64 177.7 69.7 187.8 79.8C197.9 89.9 203.6 103.6 203.6 117.8C203.6 147.5 179.5 172.1 149.8 172.1zM543.9 512L451.2 512L451.2 366.4C451.2 331.7 450.5 287.2 402.9 287.2C354.6 287.2 347.2 324.9 347.2 363.9L347.2 512L254.4 512L254.4 212.9L343.5 212.9L343.5 253.7L344.8 253.7C357.2 230.2 387.5 205.4 432.7 205.4C526.7 205.4 544 267.3 544 347.7L544 512L543.9 512z" />
          </svg>  <div class="information-box">LinkedIn</div></a> </span>
      <span class="media"><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="30px" stroke="white" fill="white"
            viewBox="0 0 640 640" stroke="white">
            <path
              d="M125.4 128C91.5 128 64 155.5 64 189.4C64 190.3 64 191.1 64.1 192L64 192L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 192L575.9 192C575.9 191.1 576 190.3 576 189.4C576 155.5 548.5 128 514.6 128L125.4 128zM528 256.3L528 448C528 456.8 520.8 464 512 464L128 464C119.2 464 112 456.8 112 448L112 256.3L266.8 373.7C298.2 397.6 341.7 397.6 373.2 373.7L528 256.3zM112 189.4C112 182 118 176 125.4 176L514.6 176C522 176 528 182 528 189.4C528 193.6 526 197.6 522.7 200.1L344.2 335.5C329.9 346.3 310.1 346.3 295.8 335.5L117.3 200.1C114 197.6 112 193.6 112 189.4z" />
          </svg>  <div class="information-box">Email </div></a></span>
      <span class="media"><a href=""><svg height="30px" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
          </svg>  <div class="information-box">Contact</div></a></span>

    </div>
  </div>

  <div class="picture-circle text-white"></div>
</div>


<!-- About section -->

<div class="about">
  <div class="about-text-area">
    <h1 class="about-me-heading">About <span class="me-blue">Me</span></h1><br>
    <p class="about-para para1">A passionate and detail-oriented Frontend Web Developer focused on building
      responsive, visually engaging, and user-friendly interfaces.</p><br>

    <p class="about-para para2">Proficient in converting UI/UX designs into production-ready code using
      modern
      frameworks and best practices. Eager to explore the intersection of frontend engineering and
      data-driven
      decision making while consistently pursuing continuous learning</p><br>
    <p class="about-para para2">Currently pursuing BCA (5th semester) at Virendra Swarup College of
      Management
      Studies, I combine academic knowledge with practical skills to create impactful web solutions.</p>
    <br>
    <div class="about-blue-boxes">
    <span class="box1 year"><b>3+</b><br>years of study</span><span class="box1 certificate"><b>4+</b><br>
      Certifications</span>
    </div>
  </div>
  <div class="about-section-grid">
    <div class="about-grid"><svg height="30" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="blue" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
      </svg>
      <div class="about-box-text">
        <p class="skill1"><b>Frontend Development</b></p><br>
        <p class="skillpara">building responsive and engaging interfaces</p>
      </div>
    </div>

    <div class="about-grid">
      <svg height="30" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="blue" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
      </svg>
      <div class="about-box-text">
        <p class="skill1"><b>Backend Development</b></p><br>
        <p class="skillpara">Experience with Flask Framework</p>
      </div>
    </div>

    <div class="about-grid">
      <svg height="30" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="blue" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
      </svg>
      <div class="about-box-text">
        <p class="skill1"><b>Data Science</b></p><br>
        <p class="skillpara">Data Analysis, Collection and Visualization</p>
      </div>
    </div>

    <div class="about-grid">
      <svg height="30" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="blue" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
      </svg>
      <div class="about-box-text">
        <p class="skill1"><b>Advance tools</b></p><br>
        <p class="skillpara">Excel with AI Integration</p>
      </div>
    </div>

  </div>
</div>



<!-- my skills sections -->

<div class="skills-section">
  <h1 class="section-title">My <span>Skills</span></h1>
  <p class="subtitle">Technologies and tools I work with</p>

  <div class="skills-container">
    <div class="skills-box frontend">
      <h2>Frontend</h2>

      <div class="skill">
        <div class="skill-name">HTML</div>
        <div class="progress-bar">
          <div class="progress" style="width:95%"></div>
        </div>
        <span class="percentage">95%</span>
      </div>

      <div class="skill">
        <div class="skill-name">CSS</div>
        <div class="progress-bar">
          <div class="progress" style="width:90%"></div>
        </div>
        <span class="percentage">90%</span>
      </div>

      <div class="skill">
        <div class="skill-name">JavaScript</div>
        <div class="progress-bar">
          <div class="progress" style="width:70%"></div>
        </div>
        <span class="percentage">70%</span>
      </div>

      <div class="skill">
        <div class="skill-name">Bootstrap</div>
        <div class="progress-bar">
          <div class="progress" style="width:70%"></div>
        </div>
        <span class="percentage">70%</span>
      </div>

      <div class="skill">
        <div class="skill-name">Tailwind CSS</div>
        <div class="progress-bar">
          <div class="progress" style="width:50%"></div>
        </div>
        <span class="percentage">50%</span>
      </div>
    </div>

    <div class="skills-box backend">
      <h2>Backend</h2>

      <div class="skill">
        <div class="skill-name">Flask Framework</div>
        <div class="progress-bar">
          <div class="progress" style="width:75%"></div>
        </div>
        <span class="percentage">75%</span>
      </div>
      <div class="skill">
        <div class="skill-name">DBMS (SQL)</div>
        <div class="progress-bar">
          <div class="progress" style="width:60%"></div>
        </div>
        <span class="percentage">60%</span>
      </div>
    </div>

    <div class="skills-box backend">
      <h2>Data Science</h2>

      <div class="skill">
        <div class="skill-name">Python</div>
        <div class="progress-bar">
          <div class="progress" style="width:80%"></div>
        </div>
        <span class="percentage">80%</span>
      </div>

      <div class="skill">
        <div class="skill-name">Pandas</div>
        <div class="progress-bar">
          <div class="progress" style="width:80%"></div>
        </div>
        <span class="percentage">80%</span>
      </div>

      <div class="skill">
        <div class="skill-name">Matplotlib/Seaborn</div>
        <div class="progress-bar">
          <div class="progress" style="width:75%"></div>
        </div>
        <span class="percentage">75%</span>
      </div>

      <div class="skill">
        <div class="skill-name">NumPy</div>
        <div class="progress-bar">
          <div class="progress" style="width:80%"></div>
        </div>
        <span class="percentage">80%</span>
      </div>
      <div class="skill">
        <div class="skill-name">Machine Learning</div>
        <div class="progress-bar">
          <div class="progress" style="width:65%"></div>
        </div>
        <span class="percentage">65%</span>
      </div>
      <div class="skill">
        <div class="skill-name">Scikit-Learn</div>
        <div class="progress-bar">
          <div class="progress" style="width:60%"></div>
        </div>
        <span class="percentage">60%</span>
      </div>
      <div class="skill">
        <div class="skill-name">Statistics</div>
        <div class="progress-bar">
          <div class="progress" style="width:70%"></div>
        </div>
        <span class="percentage">70%</span>
      </div>


    </div>
  </div>
</div>


<!-- Education Section -->

<div class="education-section">
  <h1 class="section-title">Education</h1>
  <p class="sub-title">My Academic Journey</p>

  <!-- BCA Card -->
  <div class="edu-card">

    <div class="edu-left">
      <div class="icon-circle">
        <svg fill="Blue" height="30" stroke-width="2" stroke="blue" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path
            d="M337.3 51C325.9 48.7 314.2 48.7 302.8 51L115.3 88.5C104.1 90.7 96 100.6 96 112C96 122.3 102.5 131.3 112 134.6L112 208L96.3 286.6C96.1 287.5 96 288.5 96 289.5C96 297.5 102.5 304.1 110.6 304.1L145.5 304.1C153.5 304.1 160.1 297.6 160.1 289.5C160.1 288.5 160 287.6 159.8 286.6L144 208L144 141.3L192 150.9L192 208C192 278.7 249.3 336 320 336C390.7 336 448 278.7 448 208L448 150.9L524.7 135.6C535.9 133.3 544 123.4 544 112C544 100.6 535.9 90.7 524.7 88.5L337.3 51zM320 288C275.8 288 240 252.2 240 208L400 208C400 252.2 364.2 288 320 288zM216.1 384.1C154.7 412.3 112 474.3 112 546.3C112 562.7 125.3 576 141.7 576L296 576L296 430L238.6 387C232.1 382.1 223.4 380.8 216 384.2zM344 576L498.3 576C514.7 576 528 562.7 528 546.3C528 474.3 485.3 412.3 423.9 384.2C416.5 380.8 407.8 382.1 401.3 387L343.9 430L343.9 576z" />
        </svg>
      </div>
      <div>
        <h3 style="font-size:25px;">Bachelor's of Computer Application (BCA)</h3>
        <p><svg height="20" fill="red" style="margin-right:5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
              d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
              clip-rule="evenodd" />
          </svg>
          Virendra Swarup College of Management Studies &nbsp;&nbsp;&nbsp;<svg height="20" fill="#f4f6faff"
            style="margin-right:5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="size-6">
            <path
              d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
            <path fill-rule="evenodd"
              d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
              clip-rule="evenodd" />
          </svg>
          July 2023 - July 2026
        </p>
        <p>Currently pursuing 5th semester (3rd year)<br>BCA with Mathematics</p>
      </div>
    </div>
    <span class="badge in-progress">In Progress</span>
  </div>

  <!-- Intermediate Card -->
  <div class="edu-card">
    <div class="edu-left">
      <div class="icon-circle">
        <svg fill="Blue" height="30" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          fill="currentColor" class="size-6">
          <path
            d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
        </svg>

      </div>
      <div>
        <h3 style="font-size:25px;">Intermediate</h3>
        <p><svg height="20" fill="red" style="margin-right:5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
              d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
              clip-rule="evenodd" />
          </svg> BNSD Inter College &nbsp;&nbsp;&nbsp;<svg height="20" fill="#f5f6f7ff" style="margin-right:5px"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path
              d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
            <path fill-rule="evenodd"
              d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
              clip-rule="evenodd" />
          </svg>
          April 2022 - April 2023</p>
        <small>Completed with 84% marks<br>Focused on Mathematics</small>
      </div>
    </div>
    <span class="badge completed">Completed</span>
  </div>

</div>


<!-- Certifications Section -->
<section class="cert-section">
  <h1 class="section-title">Certifications</h1>
  <p class="cert-subtitle">Professional achievements and credentials</p>

  <div class="cert-grid">

    <!-- Card 1 -->
    <div class="cert-card">
      <div class="cert-left">
        <div class="cert-icon">🏅</div>
        <div>
          <h3>Advanced Diploma in Computer Applications (ADCA)</h3>
          <span class="cert-type">Professional Certification</span><br>
          <span class="verified">✔ Verified</span>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="cert-card">
      <div class="cert-left">
        <div class="cert-icon">🏅</div>
        <div>
          <h3>B-10X AI Tools Workshop</h3>
          <span class="cert-type">AI & Technology Workshop</span><br>
          <span class="verified">✔ Verified</span>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="cert-card">
      <div class="cert-left">
        <div class="cert-icon">🏅</div>
        <div>
          <h3>Java Programming Training Certification</h3>
          <span class="cert-type">MRS Technology</span><br>
          <span class="verified">✔ Verified</span>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="cert-card">
      <div class="cert-left">
        <div class="cert-icon">🏅</div>
        <div>
          <h3>Excel using AI Workshop</h3>
          <span class="cert-type">Advanced Excel Training</span><br>
          <span class="verified">✔ Verified</span>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Get in touch section -->
<div class="contact-section">
  
  <h2>Get In <span>Touch</span></h2>
  <p class="sub">Let's discuss your next project</p>


  <div class="contact-wrapper">

    <!-- Left Info -->
    <div class="info-box">
      <h3>Contact Information</h3>
      <p>Feel free to reach out to me for any queries or opportunities. I'm always open to discussing new projects and
        ideas.</p>

      <div class="info-item">
        <div class="icon email"> <svg height="25" fill="#458ffe" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor" className="size-6">
            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
            <path
              d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
          </svg>
        </div>
        <div>
          <h4>Email</h4>
          <p>sachink.10082004@gmail.com</p>
        </div>
      </div>

      <div class="info-item ">
        <div class="icon phone"><svg height="25" fill="#458ffe" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div>
          <h4>Phone</h4>
          <p>+91 7518853406</p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon linkedin"><svg height="30" fill="#458ffe" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              d="M196.3 512L103.4 512L103.4 212.9L196.3 212.9L196.3 512zM149.8 172.1C120.1 172.1 96 147.5 96 117.8C96 103.5 101.7 89.9 111.8 79.8C121.9 69.7 135.6 64 149.8 64C164 64 177.7 69.7 187.8 79.8C197.9 89.9 203.6 103.6 203.6 117.8C203.6 147.5 179.5 172.1 149.8 172.1zM543.9 512L451.2 512L451.2 366.4C451.2 331.7 450.5 287.2 402.9 287.2C354.6 287.2 347.2 324.9 347.2 363.9L347.2 512L254.4 512L254.4 212.9L343.5 212.9L343.5 253.7L344.8 253.7C357.2 230.2 387.5 205.4 432.7 205.4C526.7 205.4 544 267.3 544 347.7L544 512L543.9 512z" />
          </svg></div>
        <div>
          <h4>LinkedIn</h4>
          <p><a class="linkedin" href="www.linkedin.com/in/sachin-kumar-yadav-b96552292">www.linkedin.com/in/sachin-kumar-yadav-b96552292</a></p>
        </div>
      </div>
    </div>

          <form class="form-box" action="{{ url_for('send_message') }}" method="POST">
                <div class="row">
                  <div class="field">
                    <label>Your Name</label>
                    <input type="text" name="name" placeholder="Enter your Name" required>
                  </div>

                  <div class="field">
                    <label>Your Email</label>
                    <input type="email" name="email" placeholder="Enter your Email" required>
                  </div>
                </div>

                <label>Subject</label>
                <input type="text" name="subject" placeholder="How can I help you?" required>

                <label>Message</label>
                <textarea name="message" placeholder="Your message here..." required></textarea>

                <div class="btn-align">
                  <button type="submit" class="send-btn">Send Message</button>
                </div>
          </form>




  </div>
</div>

<!-- Footer -->

    <!-- Footer-section -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-col">
          <h3 class="footer-logo">Sachin Yadav</h3>
          <p>Web Developer | Data Scientist</p>
        </div>

        <div class="footer-col">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" height="20px" fill="#9a9dbc"
            viewBox="0 0 640 640" stroke="white">
            <path
              d="M196.3 512L103.4 512L103.4 212.9L196.3 212.9L196.3 512zM149.8 172.1C120.1 172.1 96 147.5 96 117.8C96 103.5 101.7 89.9 111.8 79.8C121.9 69.7 135.6 64 149.8 64C164 64 177.7 69.7 187.8 79.8C197.9 89.9 203.6 103.6 203.6 117.8C203.6 147.5 179.5 172.1 149.8 172.1zM543.9 512L451.2 512L451.2 366.4C451.2 331.7 450.5 287.2 402.9 287.2C354.6 287.2 347.2 324.9 347.2 363.9L347.2 512L254.4 512L254.4 212.9L343.5 212.9L343.5 253.7L344.8 253.7C357.2 230.2 387.5 205.4 432.7 205.4C526.7 205.4 544 267.3 544 347.7L544 512L543.9 512z" />
          </svg><a href="www.linkedin.com/in/sachin-yadav-b96552292"> LinkedIn</a></li>
            <li><img height="20" filled="gray" src="{{ url_for('static', filename='images/github-svgrepo-com.svg') }}" ><a href="">GitHub</a></li>
          </ul>
        </div>
      </div>

      <hr />
      <p class="footer-note">Made with ❤️ by Sachin Yadav</p>
    </footer>


<script src="static/js/script.js"></script>
</body>

</html>